body {
    font-family: roboto, 'times new romans';
    display:flex;
    flex-direction: column;
}

.header, .upper {
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: 900;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}


